import Layout from "./layout"

lasso-page package-path="./browser.json"
include(Layout) name="Home"
  @title -- Reações - SerasaConsumidor

  @body
    main
      await(feedbacks from data.feedbacksDataProvider) client-reorder=true
        feedbacks data=feedbacks

    await(averageFeedbacks from data.feedbacksAvgProvider) client-reorder=true
      toolbar ...averageFeedbacks

