class {
  onMount() {
  }
}

style {
  .feedbacks {
    padding: 20px 15px 100px;
    max-width: 900px;
    margin: auto;
  }
}

div.feedbacks
  for(feedback in input.data)
    feedback key=feedback._id ...feedback
